<div class="large-12 columns"> 
  <div class="large-5 large-centered columns">
  <%= form_for @category do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
  </div>
</div>