<div class="large-8 column">
<% @category.posts.each do |post|%>
<h4><%= link_to post.title, post_path(post)%></h4>
    <p><%=raw post.body %></p>
    <hr>
<% end %>
</div>

<%# @category.posts.each do |post|%>
  <h4><%#= link_to post.title, post_path(post) %></h4>
  <p><%#= post.body.html_safe if post.body %></p>
<%# end %>
</div>