<% cache do %>
<div class="large-12 columns">
  <div class="large-9 large-centered columns">
  	<a href="https://github.com/vajradog"><img src="https://dl.dropbox.com/s/2qmtg59tlf7troo/octocat.jpg"></a>
    <h4><subheader> Copyright &copy; 2014 Thupten N Chakrishar. <strong>Enjoy the rest of your <%= Date::DAYNAMES[Date.today.wday] %>!</strong></subheader></h4> 

<div class="row">
  <div class="large-9 large-centered columns hide-for-small">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- vajradog.com -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6253243143840655"
     data-ad-slot="7588707277"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56089870-1', 'auto');
  ga('send', 'pageview');

</script>

</div></div>
