<% cache do %>
<div class="large-12 columns"> 
  <div class="large-9 large-centered columns">
  	<a href="https://github.com/vajradog"><img src="https://dl.dropbox.com/s/2qmtg59tlf7troo/octocat.jpg"></a>
    <h4><subheader> Copyright &copy; 2014 Thupten N. Chakrishar. <strong>Enjoy the rest of your <%= Date::DAYNAMES[Date.today.wday] %>!</strong></subheader></h4> 
  </div>
</div> 
<% end %>
