<% cache do %>
<div class="large-12 columns"> 
  <div class="large-9 large-centered columns">
    <h4><subheader> Copyright &copy; 2014 Thupten N. Chakrishar. </subheader></h4>
  </div>
</div> 
<% end %>
